.subnav {
  position: sticky;
  bottom: 0;
  top: 88px;
  width: 100%;
  background-color: #eee8e8;
  margin-bottom: 10px;
}

.subnav {
  /* border-bottom: 1px solid #222; */
}
.subnav_container {
  align-items: baseline;
  display: flex;
  /* border: 1px solid blue; */
}
.subnav_list {
  cursor: pointer;
  /* border: 1px solid red; */
  margin-left: 40px;
}

.subnav_item {
  display: inline-block;
  /* border: 1px solid yellow; */
  font-weight: bold;
  margin-right: 60px;
  margin-top: 10px;
}

.subnav_item_title {
  color: #000000;
  font-size: 28px;
}
.subnav_item :hover {
  color: #8d2d2a;
  border-bottom: 1px solid #8d2d2a;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 2px;
}
