.judul{
    
    font-weight: 600;
    font-size: 3.25rem;
    line-height: 4.875rem;
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

.artikel{
    margin-top: 18.75rem;
    margin-left: 6.25rem;
    margin-right: 6.25rem;
    margin-bottom: 9.375rem;

}

.card{
    background-color: transparent;
    border: 0;
}

.card p{
    margin-top: .9375rem;
    font-weight: 400;
    font-size: 1.25rem;
    color:#A60C1F;
    
}

h3::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  h3:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  h3:hover{
    color:white;
  }
  
  h3::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: #A60C1F;
    z-index: -1;
    transition: transform .3s ease;
  }
  
  h3 {
    position:relative;
    font-weight:600;
    color:rgba(0, 0, 0, 0.933);
  }

.card img{
    border-radius: 1.25rem;
}

.btn-danger{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: .625rem;
  gap: .625rem;
  border: 0;
  width: 15.25rem;
  height: 4.75rem;
  margin: .625rem;
  background: #A60C1F;
  border-radius: .625rem; 
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
}

a{
  text-decoration:none
}

.btn-danger:hover {
  background-color:  #2B4754;
  ;
}