.judul{
    
    font-weight: 600;
    font-size: 3.25rem;
    line-height: 4.875rem;
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

.artikel{
    margin-top: 18.75rem;
    margin-left: 6.25rem;
    margin-right: 6.25rem;
    margin-bottom: 9.375rem;

}

.card{
    background-color: transparent;
    border: 0;
}

.card p{
  font-family: 'Poppins';
    font-style: normal;
    margin-top: .9375rem;
    font-weight: 400;
    font-size: 1.25rem;
    color:#A60C1F;
    
}

h3::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  h3:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  h3:hover{
    color:white;
  }
  
  h3::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: #A60C1F;
    z-index: -1;
    transition: transform .3s ease;
  }
  
  h3 {
    font-family: 'Poppins';
    font-style: normal;
    position:relative;
    font-weight:600;
    color:rgba(0, 0, 0, 0.933);
  }

.card img{
    border-radius: 1.25rem;
}

.btn-danger{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: .625rem;
  gap: .625rem;
  border: 0;
  width: 15.25rem;
  height: 4.75rem;
  margin: .625rem;
  background: #A60C1F;
  border-radius: .625rem; 
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
}

a{
  text-decoration:none
}

.btn-danger:hover {
  background-color:  #2B4754;
  ;
}

.isiartikel{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 44px;

  width: 1686px;
  height: 803px;

}
.isiartikelbesar{
  box-sizing: border-box;
  padding: 30px;
  width: 771px;
  height: 803px;
  background: linear-gradient(180deg, #364C56 0%, #A60C1F 100%);
  border: 4px solid #FFFFFF;
  border-radius: 20px;
  
}
.penuliasartikel{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 348px;
  height: 78px;
}
.penulisartikelnama{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
height: 98px;

}
.textmedia{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  /* identical to box height */
  margin-top: 20PX;

  
  color: #FFFFFF;
}
.judulartikelbesar{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 57px;

  color: #FFFFFF;
}
.penulis{
  align-items: center;

  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;

/* identical to box height */


color: #FFFFFF;
}
.isiartikelkecil{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 52px;

width: 771px;
height: 800px;
}
.cardkecil{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 32px;

  width: 756px;
  height: 230px;
}
.deskripsicard{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 358px;
  height: 211px;
}