.jurnal{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem 0rem;
    gap: 1.25rem;
    margin-bottom: 5.625rem;
}
.juduljurnal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem 3.75rem;

    width: 108rem;
    height: 5.125rem;
}
.kolom{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0rem 3.75rem;
    gap: 2.5rem;

    width: 108rem;
    height: 15.375rem;

}
.contentjurnal{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0rem;
    gap: 2.5rem;
    
    width: 49.9375rem;
    height: 15.375rem;
}
.text{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0rem;
gap: 1rem;

width: 32.0625rem;
height: 14.9375rem;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}