.jurnal{
    display: flex;
    flex-direction: column;
    margin-bottom: 600px;
    padding: 1.25rem 0rem;
    gap: 1.25rem;
    margin-bottom: 5.625rem;
   
   
}
.juduljurnal{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0rem 3.75rem;
    margin-bottom: 60px;
    gap: 1200px;
    width: 108rem;
    height: 5.125rem;
    
  
}
.kolom{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0rem 3.75rem;
    gap: 2.5rem;
    
    width: 108rem;
    height: 15.375rem;
    margin-left: 80px;

}
.contentjurnal{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0rem;
    gap: 2.5rem;
   
    width: 49.9375rem;
    height: 15.375rem;
}
.text{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0rem;
gap: 1rem;

width: 32.0625rem;
height: 14.9375rem;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.text p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
}
.textjudul{
    font-weight: 900;
    font-size: 90px;
    line-height: 36px;
}
