.hero{
    width: 100%;
    height: 1000;
    display: flex;
    flex-direction: row;

}

.herotext{
    
    width: 68.75rem;
    height: 26.8125rem;
    margin-top: 20.5rem;
    
    
}

.header{
    color: rgb(0, 0, 0);

    
    font-weight: 900;
    font-size: 5rem;
}

.par{
    color: rgb(0, 0, 0);
    
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.25rem;
    letter-spacing: 0.02em;
    
}

.tombol{
    margin-top: .9375rem;
    border: 0;
    width: 25.4375rem;
    height: 4.5rem;
    border-radius: 1.25rem;
    background: #A60C1F;
    color: white;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
}

.tombol:hover {
    background-color:  #2B4754;
    
}

.foto{
    
    width: 100rem;
    height: 100rem;
    top: 60rem;
    z-index: 1;
    
    
}