.container{
    margin-left: 5.625rem;
    display: flex;
    flex-direction: row;
    gap: 12.5rem;
    
}
.hero{
    width: 100%;
    height: 1000;
    display: flex;
    flex-direction: row;
    gap: 43.75rem;
    
}


.herotext{
    color: aliceblue;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    width: 831px;
    padding: 20px;
    height: 429px;
    margin-top: 328px;
    border-radius: 20px;
    z-index: 2;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 144px;
    letter-spacing: 0.02em;
}

.header{
    color: rgb(0, 0, 0);

    
    font-weight: 900;
    font-size: 80px;
}

.par{
    color: rgb(0, 0, 0);
    
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.02em;
    
}

.tombol{
   
    border: 0;
    width: 307px;
    height: 72px;
    border-radius: 20px;
    background: #A60C1F;
    color: white;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
   
}

.tombol:hover {
    background-color:  #2B4754;
    
}

.foto{
    
    position: absolute;
    
    left: 763px;
    z-index: 1;
    
}
.hiasan{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 9.66px;
    
    position: absolute;
width: 128.78px;
height: 132px;
left: 184px;
top: 210px;
z-index: 3;

}
.responsive {
    
    max-width: 100%;
    height: auto;
 }
 @media screen and (max-width: 750px) {
    .responsive{
    width:100%;
    height:100%;
    } 
  }