.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 0rem;
    gap: 5.375rem;
    position: relative;
    width: 100%;
    height: 28.13rem;
    background: #174669;
}
.footerisi{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0rem;
    gap: 16.25rem;
    width: 100%;
    height: 23.625rem;
    
    
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;
    gap: 1rem;

    width: 8.3125rem;
    height: 17.375rem;


/* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.support{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;
    gap: 1rem;
    width: 13.875rem;
    height: 17.375rem;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.call{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;
    gap: 1rem;
    width: 19.5625rem;
    height: 12.25rem;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0rem;
    gap: .75rem;
    width: 15.5rem;
    height: 2.5rem;
    flex: none;
    order: 3;
    flex-grow: 0;
}
.about{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 6.25rem;
    width: 23.8125rem;
    height: 11.5237rem;   
}