/* header */

.head-cover {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px;
  gap: 10px;
  position: absolute;
  width: 100%;
  height: 70%;
  left: 0px;
  top: 148px;
}

.body-cover {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 40px;
  gap: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
}

.komunitas-cover {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;
}

.cover1 {
  width: 650px;
  height: 420px;
}

.text-komunitas {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-left: 10px;
}

.text-komunitas-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 0px;
}

.komunitas-title-judul {
  font-weight: bold;
  font-size: 30px;
}

.komunitas-title-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}

.komunitas-title-info p {
  font-size: 25px;
  font-weight: 500;
}

.komunitas-icon,
.komunitas-image {
  padding-right: 10px;
}

.komunitas-image-founder {
  padding-right: 10px;
  height: 20px;
  width: 20px;
}

.share-komunitas {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.share-komunitas p {
  font-size: 25px;
  font-weight: bold;
}

.share-komunitas-icon {
  padding: 10px 10px;
}

.body-komunitas {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px;
  position: absolute;
  width: 100%;
  left: 0px;
  top: 600px;
  border: 1px solid black;
}

/* body about*/
.bgImage {
  position: absolute;
  right: 0px;
  top: 40rem;
}

.about-komunitas {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.about-komunitas-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 55%;
}

.komunitas-content-tentang {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.komunitas-content-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 40px;
}

.komunitas-content-event {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content-event-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 335px;
}

.content-event-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 10px 0 0 20px;
  background: #8d2d2a;
  border-radius: 12px;
  margin: 5px 0px 5px 0px;
}

.content-event-photos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.event-photo-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 555px;
  margin-top: 20px;
}

.event-photo-album {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.event-photo-album1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
}

.event-photo-album2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
}

.event-photo-album1 img,
.event-photo-album2 img {
  padding: 5px;
  height: 120px;
  width: 165px;
  border-radius: 12px;
}

.about-komunitas-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 50px;
}

.about-ketua-photoprofile p {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.05em;
}
.about-ketua-photoprofile img {
  display: inline;
  padding-right: 20px;
}

.about-ketua-anggota p {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.05em;
}
.about-ketua-anggota img {
  padding: 10px 10px 0px 10px;
}
