/* body photos */

.body-komunitas {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  width: 100%;
}

.komunitas-album {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
}

.komunitas-album p {
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  width: 100%;
  margin-left: 50px;
}

.album-photos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 50px;
}
.album-photos-1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.album-photos-1 img {
  width: 24%;
  margin: 15px;
}
